<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sports.life.mapper.ActivityImgMapper">
  <resultMap id="BaseResultMap" type="com.sports.life.entity.ActivityImg">
    <id column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="img_sort" jdbcType="INTEGER" property="imgSort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="img_desc" jdbcType="VARCHAR" property="imgDesc" />
    <result column="img_type" jdbcType="VARCHAR" property="imgType" />
    <result column="img_size" jdbcType="INTEGER" property="imgSize" />
    <result column="img_width" jdbcType="INTEGER" property="imgWidth" />
    <result column="img_height" jdbcType="INTEGER" property="imgHeight" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    img_id, activity_id, img_url, img_sort, create_time, update_time, is_deleted, img_desc, 
    img_type, img_size, img_width, img_height, tenant_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_imgs
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_imgs
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sports.life.entity.ActivityImg">
    insert into activity_imgs (img_id, activity_id, img_url, 
      img_sort, create_time, update_time, 
      is_deleted, img_desc, img_type, 
      img_size, img_width, img_height, 
      tenant_id)
    values (#{imgId,jdbcType=INTEGER}, #{activityId,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{imgSort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT}, #{imgDesc,jdbcType=VARCHAR}, #{imgType,jdbcType=VARCHAR}, 
      #{imgSize,jdbcType=INTEGER}, #{imgWidth,jdbcType=INTEGER}, #{imgHeight,jdbcType=INTEGER}, 
      #{tenantId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sports.life.entity.ActivityImg">
    insert into activity_imgs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        img_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="imgSort != null">
        img_sort,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="imgDesc != null">
        img_desc,
      </if>
      <if test="imgType != null">
        img_type,
      </if>
      <if test="imgSize != null">
        img_size,
      </if>
      <if test="imgWidth != null">
        img_width,
      </if>
      <if test="imgHeight != null">
        img_height,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgSort != null">
        #{imgSort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="imgDesc != null">
        #{imgDesc,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null">
        #{imgType,jdbcType=VARCHAR},
      </if>
      <if test="imgSize != null">
        #{imgSize,jdbcType=INTEGER},
      </if>
      <if test="imgWidth != null">
        #{imgWidth,jdbcType=INTEGER},
      </if>
      <if test="imgHeight != null">
        #{imgHeight,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sports.life.entity.ActivityImg">
    update activity_imgs
    <set>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgSort != null">
        img_sort = #{imgSort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="imgDesc != null">
        img_desc = #{imgDesc,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null">
        img_type = #{imgType,jdbcType=VARCHAR},
      </if>
      <if test="imgSize != null">
        img_size = #{imgSize,jdbcType=INTEGER},
      </if>
      <if test="imgWidth != null">
        img_width = #{imgWidth,jdbcType=INTEGER},
      </if>
      <if test="imgHeight != null">
        img_height = #{imgHeight,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sports.life.entity.ActivityImg">
    update activity_imgs
    set activity_id = #{activityId,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      img_sort = #{imgSort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      img_desc = #{imgDesc,jdbcType=VARCHAR},
      img_type = #{imgType,jdbcType=VARCHAR},
      img_size = #{imgSize,jdbcType=INTEGER},
      img_width = #{imgWidth,jdbcType=INTEGER},
      img_height = #{imgHeight,jdbcType=INTEGER},
      tenant_id = #{tenantId,jdbcType=INTEGER}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from activity_imgs
   where is_deleted=0
  </select>
</mapper>